@charset "utf-8";
div {
  background-color: bisque;
  width: 1200px;
  height: 700px;
  margin: 0 auto;
}
#content {
  background: url(../images/city.jpg) no-repeat;
  width: 800px;
  height: 500px;
  background-size: cover;
  position: relative;
}
h1 {
  position: absolute;
  padding-left: 500px;
  color: aliceblue;
  font-size: 100px;
  text-shadow: 5px 5px #f50000;
  left: 40px;
  top: 200px;
}
